In [22]:
import pandas as pd

df = pd.read_csv("raw_data/candidates.csv", delimiter=';',encoding='unicode_escape')
df.head()

,First Name,Last Name,Email,Application Date,Country,YOE,Seniority,Technology,Code Challenge Score,Technical Interview Score
0,Bernadette,Langworth,leonard91@yahoo.com,2021-02-26,Norway,2,Intern,Data Engineer,3,3
1,Camryn,Reynolds,zelda56@hotmail.com,2021-09-09,Panama,10,Intern,Data Engineer,2,10
2,Larue,Spinka,okey_schultz41@gmail.com,2020-04-14,Belarus,4,Mid-Level,Client Success,10,9
3,Arch,Spinka,elvera_kulas@yahoo.com,2020-10-01,Eritrea,25,Trainee,QA Manual,7,1
4,Larue,Altenwerth,minnie.gislason@gmail.com,2020-05-20,Myanmar,13,Mid-Level,Social Media Community Management,9,7

We are only interested in candidates who have been hired (both scores greater than or equal to 7), so we will create a data frame with candidates who meet these criteria.

In [23]:
df_contracted = df[(df['Code Challenge Score'] >= 7) & (df['Technical Interview Score'] >= 7)].copy()

In [24]:
df.head()

,First Name,Last Name,Email,Application Date,Country,YOE,Seniority,Technology,Code Challenge Score,Technical Interview Score
0,Bernadette,Langworth,leonard91@yahoo.com,2021-02-26,Norway,2,Intern,Data Engineer,3,3
1,Camryn,Reynolds,zelda56@hotmail.com,2021-09-09,Panama,10,Intern,Data Engineer,2,10
2,Larue,Spinka,okey_schultz41@gmail.com,2020-04-14,Belarus,4,Mid-Level,Client Success,10,9
3,Arch,Spinka,elvera_kulas@yahoo.com,2020-10-01,Eritrea,25,Trainee,QA Manual,7,1
4,Larue,Altenwerth,minnie.gislason@gmail.com,2020-05-20,Myanmar,13,Mid-Level,Social Media Community Management,9,7

In [25]:
df_contracted.head()

,First Name,Last Name,Email,Application Date,Country,YOE,Seniority,Technology,Code Challenge Score,Technical Interview Score
2,Larue,Spinka,okey_schultz41@gmail.com,2020-04-14,Belarus,4,Mid-Level,Client Success,10,9
4,Larue,Altenwerth,minnie.gislason@gmail.com,2020-05-20,Myanmar,13,Mid-Level,Social Media Community Management,9,7
8,Mose,Lakin,dale_murazik@hotmail.com,2018-03-13,Italy,18,Lead,Social Media Community Management,7,10
13,Hilda,Rodriguez,jordan.hyatt@hotmail.com,2020-05-09,El Salvador,16,Junior,System Administration,7,8
22,Crawford,Ullrich,bruce.koch7@yahoo.com,2021-01-09,Dominica,14,Junior,Game Development,8,8

In [26]:
df_contracted.dtypes

First Name                   object
Last Name                    object
Email                        object
Application Date             object
Country                      object
YOE                           int64
Seniority                    object
Technology                   object
Code Challenge Score          int64
Technical Interview Score     int64
dtype: object

To extract the year from the date, we will convert that value to a datetime format and then move the data to its own column.

In [27]:
df_contracted['Application Date'] = pd.to_datetime(df_contracted['Application Date'], errors='coerce')

In [28]:
df_contracted['Application Year'] = df_contracted['Application Date'].dt.year

In [29]:
df_contracted.head()

,First Name,Last Name,Email,Application Date,Country,YOE,Seniority,Technology,Code Challenge Score,Technical Interview Score,Application Year
2,Larue,Spinka,okey_schultz41@gmail.com,2020-04-14,Belarus,4,Mid-Level,Client Success,10,9,2020
4,Larue,Altenwerth,minnie.gislason@gmail.com,2020-05-20,Myanmar,13,Mid-Level,Social Media Community Management,9,7,2020
8,Mose,Lakin,dale_murazik@hotmail.com,2018-03-13,Italy,18,Lead,Social Media Community Management,7,10,2018
13,Hilda,Rodriguez,jordan.hyatt@hotmail.com,2020-05-09,El Salvador,16,Junior,System Administration,7,8,2020
22,Crawford,Ullrich,bruce.koch7@yahoo.com,2021-01-09,Dominica,14,Junior,Game Development,8,8,2021

For the analysis, we'll examine the following:
- null values.
- Basic Statistical summary of the numerical columns.
- Distribution of candidates by country.
- Distribution of candidates by technology.
- Distribution of candidates by year of application.

In [30]:
df_contracted.isnull().sum()

First Name                   0
Last Name                    0
Email                        0
Application Date             0
Country                      0
YOE                          0
Seniority                    0
Technology                   0
Code Challenge Score         0
Technical Interview Score    0
Application Year             0
dtype: int64

Using the information provided by the function df.isnull().sum(), we can conclude that the dataset has no null values

In [31]:
numeric_summary = df_contracted.describe()
print(numeric_summary)

                    Application Date          YOE  Code Challenge Score  \
count                           6698  6698.000000           6698.000000
mean   2020-04-10 23:23:40.005972224    15.291281              8.500000
min              2018-01-01 00:00:00     0.000000              7.000000
25%              2019-03-07 00:00:00     8.000000              8.000000
50%              2020-04-09 00:00:00    15.000000              8.000000
75%              2021-05-26 00:00:00    23.000000              9.000000
max              2022-07-04 00:00:00    30.000000             10.000000
std                              NaN     8.843949              1.110748

       Technical Interview Score  Application Year
count                6698.000000       6698.000000
mean                    8.479248       2019.810839
min                     7.000000       2018.000000
25%                     7.000000       2019.000000
50%                     8.000000       2020.000000
75%                     9.000000       2021.000000
max                    10.000000       2022.000000
std                     1.126308          1.315268

Summary statistics:
Years of experience (YOE):  show that candidates have between 0 and 30 years of experience, with a mean of approximately 15 years.

Code challenge and technical interview scores: Both scores range from 0 to 10, with means close to 5, suggesting an even distribution.

In [32]:
country_distribution = df_contracted["Country"].value_counts()
print(country_distribution)

Country
Northern Mariana Islands             44
Heard Island and McDonald Islands    41
Sri Lanka                            40
Seychelles                           40
Niger                                40
                                     ..
Canada                               18
Maldives                             16
Saint Vincent and the Grenadines     16
Montenegro                           15
Guam                                 15
Name: count, Length: 244, dtype: int64

Distribution of candidates by country: 
Candidates come from a wide variety of countries, with "Northern Mariana Islands" and "Heard Island and McDonald Islands" being the most represented at the top.

In [33]:
technology_distribution = df_contracted["Technology"].value_counts()
print(technology_distribution)

Technology
Game Development                           519
DevOps                                     495
System Administration                      293
Development - CMS Backend                  284
Database Administration                    282
Adobe Experience Manager                   282
Client Success                             271
Security                                   266
Development - Frontend                     266
Mulesoft                                   260
QA Manual                                  259
Salesforce                                 256
Development - Backend                      255
Business Analytics / Project Management    255
Data Engineer                              255
Development - FullStack                    254
Business Intelligence                      254
Development - CMS Frontend                 251
Security Compliance                        250
Design                                     249
QA Automation                              243
Sales                                      239
Social Media Community Management          237
Technical Writing                          223
Name: count, dtype: int64

Distribution of candidates by technology:
The most popular technologies among candidates are, by far, Game Development and DevOps. The other technologies seem to be evenly distributed.

In [34]:
year_distribution = df_contracted["Application Year"].value_counts()
print(year_distribution)

Application Year
2019    1524
2020    1485
2021    1485
2018    1409
2022     795
Name: count, dtype: int64

Distribution of candidates by year of application:
Most applications are relatively evenly distributed between 2018 and 2021, with a surprisingly smaller number in 2022.

Also, fewer candidates are hired as time passes.

In [35]:
df_contracted.to_csv('data/candidates_clean.csv', index=False)

Transformation of the clean df to the new clean csv that will be used to migrate to the database